# Ignore build directories & solution
bin/
obj/
build

.vs
.vscode

*.sln

# Ignore Visual Studio specific files
*.user
*.suo
*.vcxproj.user

# Ignore Rider/JetBrains specific files
.idea/
*.iml
